<ion-view view-title="Últimos Tweets del SAT">
  <ion-content>
	<div style="text-align:center;">
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SATMX" data-widget-id="688520960496947200" data-tweet-limit="20" data-chrome="nofooter noborders noscrollbar transparent">Tweets por el @SATMX.</a>
	</div>
	<!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
	-->
  </ion-content>
</ion-view>
